[Unit]
Description=Schedule Proxy Sentinel ZeekControl maintenance

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=proxy-sentinel-zeek-cron.service

[Install]
WantedBy=timers.target
