POSTGRES_IMAGE=srun-docker.pkg.coding.net/dpi/image/postgres:latest
CLICKHOUSE_IMAGE=srun-docker.pkg.coding.net/dpi/image/clickhouse:latest

PROXY_SENTINEL_DATA_DIR=/opt/proxy-sentinel/data/db

POSTGRES_HOST_PORT=25432
POSTGRES_DB=proxy_sentinel
POSTGRES_USER=proxy_sentinel
POSTGRES_PASSWORD=change-me

CLICKHOUSE_HTTP_HOST_PORT=28123
CLICKHOUSE_NATIVE_HOST_PORT=29000
CLICKHOUSE_DB=proxy_sentinel
CLICKHOUSE_USER=proxy_sentinel
CLICKHOUSE_PASSWORD=change-me
